/* Styles for the index page */
body {
    background-color: #f9f9f9;
    font-family: 'Helvetica Neue', sans-serif;
    color: #333;
  }
  
  h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;
  }
  
  form {
    margin: 2rem auto;
    max-width: 800px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  label {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  textarea {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    height: 200px;
  }
  
  button {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Styles for the predictions page */
  table {
    margin: 2rem auto;
    max-width: 1100 px;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #007bff;
    color: #fff;
  }
  
  th, td {
    padding: 0.5rem;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  th {
    font-weight: bold;
  }

  td.review {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    text-align: left;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  a.New_predictions {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  
  a.New_Predictions:hover {
    background-color: #0056b3;
  }

  .positive {
    color:green;
    font-weight: bold;
  }

  .negative {
    color: red;
    font-weight: bold;
  }
  