<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Movie Review Sentiment Analysis</title>
  </head>
  <body>
    <h1>Movie Review Sentiment Analysis</h1>
    <form action="/predict" method="post">
      <label for="review">Enter your movie review:</label>
      <br>
      <textarea id="review" name="review" rows="10" cols="50"></textarea>
      <br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>